<div class="email-letter">
    <div class="email-row">
        <div class="param">to::</div>
        <div class="val">{{$ctrl.email.author}}</div>
    </div>
    <div class="email-row">
        <div class="param">{{$ctrl.email.subject}}::</div>
        <div class="val">Test Subject</div>
    </div>
    <div class="email-row">
        <div class="param">email::</div>
        <div class="val">{{$ctrl.email.email}}</div>
    </div>
    <div class="email-row">
        <div class="param">email-body::</div>
        <div class="val">{{$ctrl.email.message}}</div>
    </div>
    <input type="button" value="delete" class="btn btn-primary" ng-click="$ctrl.onDelete()">
</div>