<div class="col-md-6 email-letter">
    <h2>Name: {{$ctrl.email.name}}</h2>
    <div class="email-row">
        <div class="param">to::</div>
        <div class="val">John Doe</div>
    </div>
    <div class="email-row">
        <div class="param">subject::</div>
        <div class="val">Test Subject</div>
    </div>
    <div class="email-row">
        <div class="param">email::</div>
        <div class="val">macus@gmail.com</div>
    </div>
    <div class="email-row">
        <div class="param">email-body::</div>
        <div class="val">My super letter</div>
    </div>
    <input type="button" value="delete" class="btn btn-primary" ng-click="$ctrl.onDelete()">
</div>
