.email-letter{
    background-color: #ebf8f7;
    padding:15px;
    margin-bottom: 20px;
}

.email-row{
    overflow: hidden;
    clear: both;
    margin:5px 0 5px 0;
    display:table;
    width:100%;
}

.param, .val{
    display: table-cell;
}

.param{
    font-style: italic;
    font-size: 11px;
    width:80px;
}

.val{
    padding: 10px;
    background: #ffffff;
}



